
.page_heading{
    font-size: var(--rem-2);
    margin: var(--rem-1-5) 0 0 var(--rem-0-75);
    color: var(--color-white);
    width: 98vw;
    border-bottom: 2px solid var(--color-secondary);
}

.playlists_grid{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: var(--rem-0-5);
    min-height: calc(100vh - 165px);
    max-width: 98vw;
}

.side_wrapper{
    padding: var(--rem-0-5);
    border-left: 0.5px solid var(--color-onyx);
    max-width: 100%;
}

.add_new_wrapper{
    gap:var(--rem-0-5);
    padding:var(--rem-0-5);
    width: 100%;
    margin-left: var(--rem-0-5);
}

.input_wrapper{
    align-items: baseline;
    gap:var(--rem-0-5)
}

.input_wrapper>*>legend{
    color:var(--color-white);
    font-size: var(--rem-1-25);
}

.add_icon{
    font-size: var(--rem-2-25);
    color:var(--color-white);
    align-self: flex-end;
    padding: var(--rem-0-25);
    cursor: pointer;
}

.playlist_item{
    color: var(--color-white);
    margin-top: var(--rem-0-5);
    margin-left: var(--rem-0-5);
    display: flex;
    align-items: center;
    cursor: pointer;
    gap:var(--rem-0-5)
}

.playlist_title_wrapper{
    padding: var(--rem-0-75);
    width: 100%;
    background-color: var(--color-onyx);
    justify-content: space-between;
}

.playlist_title{
    color:var(--color-white);
}

.playlist_item>span{
    gap:var(--rem-0-75);
    align-items: center;
}

.remove_icon{
    font-size: var(--rem-1-5);
    cursor: pointer;
}

.remove_icon:hover{
    transform: scale(105%);
}

.player_icon{
    animation: shake infinite 0.6s ease-in-out ;
}

.playlists_wrapper{
    margin: var(--rem-1) 0 0 var(--rem-1);
    max-width: 100%;
}

.current_title{
    color: var(--color-white);
    font-size: var(--rem-1-5);
}

.empty_msg{
    text-align: center;
    color: var(--color-white);
    margin-top: var(--rem-2);
    font-size: var(--rem-1-5);
}

@keyframes shake {
    0%{
        transform: rotateX(0) rotateY(0) scale(98%);
    }
    25%{
        transform: rotateY(-10deg) scale(105%);
    }
    50%{
        transform: rotateX(-15deg) scale(102%);
    }
    75%{
        transform: rotateY(20deg) scale(110%);   
    }
    100%{
        transform: rotateX(20deg) scale(96%);
    }
}

@media only screen and (max-width:900px) {
    .playlists_grid{
        display: grid;
        grid-template-columns:5fr 2fr ;
        margin-top: var(--rem-0-5);
    }
}

@media only screen and (max-width:480px) {
    .playlists_grid{
        display: grid;
        grid-template-columns:4fr 2fr ;
        margin-top: var(--rem-0-5);
    }
}