.video_card {
  max-width: 22rem;
  cursor: pointer;
  margin-bottom: var(--rem-1-5);
  gap: var(--rem-75);
  font-family: sans-serif;
  height: 18rem;
  transition: all 0.2s linear;
}

.video_card:hover {
  box-shadow: 0px 0.2rem 0.3rem var(--color-black);
  transform: scale(103%);
}

.top_wrapper {
  position: relative;
  max-width: 21.7rem;
  padding: 2px;
}

.channel_icon {
  width: 2.5rem;
  height: 2.5rem;
  margin: var(--rem-0-25);
  border-radius: 50%;
}

.card_img {
  width: 21.7rem;
  object-fit: cover;
  height: 10rem;
}

.video_length {
  position: absolute;
  bottom: 5px;
  right:8px;
  background-color: var(--color-bg-black);
  color: var(--color-white);
  padding: 4px;
  font-size: 1rem;
  border-radius: var(--rem-0-25);
}

.bottom_wrapper{
  position: relative;
  height: 100%;
}

.bottom_right_wrapper {
  gap: var(--rem-0-75);
  padding: var(--rem-0-25);
  background-color: transparent;
  color: var(--color-gray);
}

.video_title {
  color: var(--color-white);
  overflow: hidden;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  font-weight: 500;
  line-height: var(--rem-1-25);
}

.bottom_right_wrapper > span {
  justify-content: flex-start;
  gap: var(--rem-0-5);
  font-size: 0.8rem;
  align-items: center;
}


.fab_btn{
  position: absolute;
  top: var(--rem-0-5);
  right: var(--rem-0-5);
  font-size: var(--rem-2);
  color:var(--color-black);
  background-color: var(--color-gray);
  border-radius: var(--rem-0-5);
}

.fab_btn:hover{
  transform: scale(110%);
}

.action_btn_wrapper{
  position: absolute;
  bottom: 5px;
  right: 5px;
  gap:var(--rem-0-25);
}

.action_btn{
  background-color: #3D3D3D;
  color: var(--color-white);
}

.action_btn_active{
  background-color: var(--color-primary);
  color: var(--color-white);
}

.action_btn, .action_btn_active{
  font-size: var(--rem-2);
  padding: var(--rem-0-25);
  border-radius: var(--rem-0-5);
}

.action_btn:hover, .action_btn_active:hover{
  transform: scale(107%);
}