/* reset css import from meyerweb.com */
@import url("./reset.css");

body {
  font-family: Georgia, Times, Times New Roman, serif;
}

:root {
  /*  Spacing Variables */
  --rem-0-25: 0.25rem;
  --rem-0-5: 0.5rem;
  --rem-0-75: 0.75rem;
  --rem-1: 1rem;
  --rem-1-25: 1.25rem;
  --rem-1-5: 1.5rem;
  --rem-1-75: 1.75rem;
  --rem-2: 2rem;
  --rem-2-5: 2.5rem;
  --rem-2-75: 2.75rem;
  --rem-3: 3rem;

  /* Color variables  */
  --color-black: #0a090c;
  --color-white: #f7f7ff;
  --color-bg-black: #212121;
  --color-primary: #4c5f94;
  --color-primary-darker: #455787;
  --color-secondary: #ea526f;
  --color-gray: #dcdcdc;
  --color-onyx:#3D3D3D;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}


.prim-btn{
  color:var(--color-white);
  background-color: var(--color-primary);
  border: none;
  padding: var(--rem-0-75);
  font-size: 1rem;
  border-radius: var(--rem-0-5);
  cursor: pointer;
}

.prim-acc-btn{
  color: var(--color-primary);
  background-color: var(--color-white);
  outline: 1px solid var(--color-primary);
  border: none;
  padding: var(--rem-0-75);
  font-size: 1rem;
  border-radius: var(--rem-0-5);
  cursor: pointer;
}

.prim-btn:hover{
 background-color: var(--color-primary-darker); ;
}

.prim-acc-btn:hover{
  background-color: var(--color-gray);
}

.input-text{
  font-family: sans-serif;
  border-radius: var(--rem-0-5);
  padding: var(--rem-0-25);
  padding-left: var(--rem-0-5);
  height: 1.8rem;
  font-size: 1rem;
}

.center{
  text-align: center;
}