@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

.nav_bar {
  max-width: 100vw;
  background-color: var(--color-primary);
  padding: var(--rem-1);
  justify-content: space-between;
  align-items: center;
  z-index: 15;
  position: relative;
}

.nav_heading {
  font-family: "Nosifer", cursive;
  color: var(--color-white);
  font-size: 2.2rem;
}

.nav_heading:hover,
.profile_icon:hover {
  animation: shake 0.5s;
  cursor: pointer;
}

.menu_icon {
  display: flex;
  justify-content: center;
  color: var(--color-white);
  font-size: 2.2rem;
  background-color: transparent;
  padding: var(--rem-0-75);
  border-radius: 50%;
  transition: all linear 0.3s;
}

.menu_icon:hover {
  background-color: var(--color-white);
  cursor: pointer;
  color: var(--color-black);
  opacity: 0.8;
}

.header {
  gap: var(--rem-0-75);
  justify-content: center;
  align-items: center;
}

.nav_search {
  padding: var(--rem-0-5);
  border-radius: var(--rem-0-5);
  max-width: 20rem;
  flex-grow: 1;
  background-image: url("https://res.cloudinary.com/carsmart/image/upload/v1647404723/icons/search_i9fe3a.png");
  background-position: var(--rem-0-75) var(--rem-0-75);
  background-repeat: no-repeat;
  background-size: 15px;
  padding-left: var(--rem-1-75);
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.profile_icon {
  width: 2.5rem;
  height: 2.5rem;
  filter: invert(100%);
  border-radius: 50%;
  padding: var(--rem-0-25);
  border: 1px solid var(--color-black);
  cursor: pointer;
}
.red {
  color: var(--color-black);
}

aside {
  position: fixed;
  z-index: 3;
  width: 15rem;
  justify-content: flex-start;
  gap: var(--rem-2);
  height: 100vh;
  background-color: var(--color-bg-black);
  transition: 0.4s all ease;
  top:5.7rem;
  opacity: 0.95;
}

.aside_hidden {
  left: -17rem;
}
.list {
  width: 100%;
  align-items: flex-start;
  gap: var(--rem-1);
  display: flex;
}

.list>li{
  width: 100%;
}
 
.link_style {
  display: flex;
  overflow: hidden;
  font-size: 1.4rem;
  color: var(--color-white);
  padding: var(--rem-1);
  cursor: pointer;
  transition: all 0.3s ease;
  gap:1rem;
  text-decoration: none;
} 

.link_style_active{
  color: var(--color-primary);
  background-color: var(--color-white);
}

.list > li:hover {
  background-color: var(--color-primary);
}

.sidebar_overlay{
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: var(--color-bg-black);
  opacity: 0.6;
  transition: 0.2s;
  z-index: 2;
}

.sidebar_overlay_hidden{
  display: none;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-3px);
  }

  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}


@media only screen and (max-width:600px){
  .nav_search{
    max-width: 10rem;
    background-position: var(--rem-0-25) var(--rem-0-5);
  }
  
}

