.page_heading, .no_history_msg{
    color:var(--color-white);
    margin-top: var(--rem-1-5);
    font-size: var(--rem-2);
}

.page_heading{
    font-size: var(--rem-2);
    margin: var(--rem-1-5) 0 0 var(--rem-0-75);
    color: var(--color-white);
    width: 96vw;
    border-bottom: 2px solid var(--color-secondary);
}
.wrapper{
    gap:var(--rem-1-75);
}

.clear_btn{
    align-self: flex-end;
    width: 15rem;
    margin: var(--rem-1);
}

.btn_icon{
    font-size: var(--rem-1-25);
    vertical-align:sub;
}

.no_history_msg{
    margin-top: var(--rem-2-5);
    font-size: var(--rem-1-5);
    text-align: center;
}

.explore_btn{
    width: 15rem;
    align-self: center;
    display: flex;
    justify-content: center;
}

.link_style{
    color: var(--color-white);
    text-decoration: none;
}

