.page_heading{
    font-size: var(--rem-2);
    margin: var(--rem-1-5) 0 0 var(--rem-0-75);
    color: var(--color-white);
    width: 98vw;
    border-bottom: 2px solid var(--color-secondary);
}

.heading_icon{
    vertical-align:sub;
    margin-left: var(--rem-1);
    font-size: var(--rem-2-5);
    animation: spin infinite 2.8s linear;
}

.empty_msg_wrapper{
    margin-top: var(--rem-2);
    gap:var(--rem-1-25);
    align-items: center;
}

.empty_msg{
    font-size: var(--rem-1-5);
    color:var(--color-white);
}

.empty_msg_btn{
    width: 12rem;
}

.wrapper{
    gap:var(--rem-1-75);
}

.clear_btn{
    align-self: flex-end;
    width: 15rem;
    margin: var(--rem-1);
}

.btn_icon{
    font-size: var(--rem-1-25);
    vertical-align:sub;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}